{% extends "base.html" %}
{% block title %}View results - {% endblock %}
{% block nav-new %}active{% endblock %}

{% block content %}
  {% include "messages.html" with messages=messages %}
  <h1>View results</h1>
  <p>To get results of analysis performed on given library,
    choose type of analysis, select one sample and press 'Show results' button.
  </p>
  <p>To filter libraries in the table below, use 'Search' field.
    To choose columns which should be visible click on the grid
    <span class="glyphicon glyphicon-th" aria-hidden="true"></span> icon.
  </p>
  <p>
    Note, that if there are no results associated with particular library,
    they will be prepared, just after your request to show these results.
  </p>
  <form name="select-sample" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary btn-lg" type="submit" value="Show results">
  </form>
{% endblock %}
