{% extends "base.html" %}
{% block title %}Choose a sample - {% endblock %}
{% block nav-new %}active{% endblock %}

{% block content %}
  {% include "messages.html" with messages=messages %}
  <h1>Choose a sample</h1>
  {% comment %}
    <p class="lead">Jakiś jeden akapit o tym, co tu sie dzieje</p>
  {% endcomment %}
  <form name="select-sample" action="/biogaz/result_post/" method="get">
    {{ form.as_p }}
    <br/>
    <input class="btn btn-primary btn-lg" type="submit" value="Sprawdź wyniki">
  </form>
{% endblock %}
