{% extends "base.html" %}
{% block title %}Running - {% endblock %}

{% block content %}
  {% include "messages.html" with messages=messages %}
  <h1>Calculating, please wait.</h1>
  <p>This page will refresh itself automatically. You can save url of this page,
  and check results later using the same address.</p>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active"
         id="progressbar"
         role="progressbar"
         aria-valuenow="{{ progress }}"
         aria-valuemin="0"
         aria-valuemax="100"
         style="width: {{ progress }}%">
      <span class="sr-only" id="progressbar-text">{{ progress }}% Complete</span>
    </div>
  </div>
  <div class="alert alert-info" role="alert" id="state">
      Your job is {{ state }}
  </div>
  <pre id="errors" style="display: none"></pre>
  <script type="text/javascript">
    var url = "/biogaz/get_status/{{ path }}/{{ type_of_analysis }}";

    function progress(value)
    {
      $('#progressbar').css('width', value + '%').attr('aria-valuenow', value);
      $('#progressbar-text').text(value + '% complete')
    }

    function update_status()
    {
      $.getJSON(url, function(data)
      {
        progress(data.progress);
        if(data.progress == 100)
        {
          location.reload();
        }

        var state = $("#state");
        if(data.state == "failed")
        {
          state.html("Unfortunately, this job failed. If it is the first time, you can try to " +
          "<a href='javascript: window.history.go(-1)'>launch it again</a>.");
          state.addClass("alert-danger").show();
          if (data.error)
          {
            $("#errors").text(data.error).show();
          }
        }
        else
        {
            state.text("Your job is " + data.state)
        }

        error = data.state;
      });
    }

    $(document).ready(function()
    {
      setInterval(update_status, 4000);
    });
  </script>
{% endblock %}
